<div class="small-container">
  <h2>アカウント編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      <small class="form-text text-muted"><%= "更新するためには”現在のパスワード”を入力してください" %></small>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: "btn btn-primary btn-block mt-4" %>
    </div>
  <% end %>

  <%= link_to "トップページ", root_path, class: 'btn btn-success btn-block mt-4' %>

  <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "削除します。よろしいですか？" }, method: :delete, class: 'btn btn-danger btn-block mt-4' %>
</div>