<% comment.replies.order(:created_at).each do |reply| %>
  <%= link_to user_path(reply.user.id) do %>
    <div class="reply_user">
      <%= image_tag reply.user.image.url %>
      <%= reply.user.nickname %>
    </div>
  <% end %>
  <div class="reply_body">
    <div><%= reply.body %></div>
    <div class="algin_items">
      <div class="reply_created"><%= time_ago_in_words(reply.created_at)+"前" %></div>
      <% if reply.user == current_user %>
        <%= link_to "削除", tournament_post_comment_path(comment.tournament_id, comment.post_id, reply.id), class: "reply_delete", method: :delete, remote: true %>
      <% end %>
    </div>
    <%= render partial: 'comments/reply_form', locals: { comment: comment, post: @post } %>
  </div>
<% end %>
