<%= javascript_pack_tag 'preview/image_preview', 'data-turbolinks-track': 'reload' %>
<section id="user_edit">
  <section id="page_title">
    <h1>プロフィール編集</h1>
  </section>
  <div class="container">
    <%= form_with model: @user, local: true do |f| %> 
      <h2><i class="far i_green fa-image"></i> プロフィール画像</h2>
      <div class="form-group thumbimg">
        <br>
        <label>
          <div class="thumbnail">
            <%= f.file_field :image, id: "pick_img" %>
            <%= image_tag asset_path("#{@user.image}"), id: "img_prev" %>
            <div class="mask">
              <div class="caption">変更はここをクリック</div>
            </div>
          </div>
        </label>
      </div>
      <div class="form-group">
        <h2><i class="fas fa-pen"></i> ニックネーム</h2>
        <div class="row justify-content-center">
          <div style="width:80%"><%= f.text_field :nickname, class: "form-control", placeholder: "(例) ニックネーム名" %></div>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <h2><i class="fas i_red fa-map-marker-alt"></i> よく行く釣り場</h2> 
        <div class="row justify-content-center">
          <div style="width:80%"><%= f.text_field :main_field, class: "form-control", placeholder: "(例) 養老水系  五三川"%></div>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <h2><i class="fas fa-fish i_blue fa-flip-horizontal"></i> メインの魚種</h2>
        <div class="row justify-content-center">
          <div style="width:80%"><%= f.text_field :main_target, class: "form-control", placeholder: "(例) ラージマウスバス"%></div>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <h2><i class="far i_yellow fa-hand-peace"></i> メイン魚種の自己記録</h2> 
        <div class="row justify-content-center">
          <div style="width:80%"><%= f.text_field :max_size, class: "form-control", placeholder: "(例) 57cm"%></div>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <h2><i class="far i_pink fa-smile"></i> 自己紹介</h2> 
        <div class="row justify-content-center">
          <div style="width:80%"><%= f.text_area :comment, class: "form-control", rows: "10" %></div>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <div class="btn_update">
        <div class="row justify-content-center">
          <%= f.submit "プロフィール更新", data: { confirm: "更新しますか？"}, class: "btn btn-outline-primary btn-lg w-25" %>
        </div>
      </div>
    <% end %>
  </div>
</section>