<%# <section id="users"> %>
<section id="myshow">
  <div class="title">
    <h3>マイページ</h3>
  </div>
  <div class="container">
    <div class="profile">
      <%= image_tag @user.image.url %>
        <%= link_to 'プロフィール編集', edit_user_path(current_user), class:"edit_btn"  %>
      <div class="nickname">
        <%= @user.nickname %>
      </div>
      <hr>
      <div class="comment">
        <h2><i class="far i_pink fa-smile"></i> 自己紹介</h2> 
        <p><%= simple_format(@user.comment) %></p>
      </div>
      <hr>

      <div class = "main_field">
        <h2><i class="fas i_red fa-map-marker-alt"></i> よく行く釣り場</h2> 
        <p><%= @user.main_field %></p>
      </div>
      <hr>

      <div class="main_target">
        <h2><i class="fas fa-fish i_blue fa-flip-horizontal"></i> メインの魚種</h2> 
        <p><%= @user.main_target %></p>
      <div>
      <hr>

      <div class="max_size">
        <h2><i class="far i_yellow fa-hand-peace"></i> メイン魚種の自己記録</h2> 
        <p><%= @user.max_size %></p>
      </div>
      <hr>
      
    </div>

    <% @tournaments.each do |tournament| %>
      <p><span>投稿内容: </span><%= tournament.fishing_ground %></p>
    <% end %>

    <% if @entries.empty? %>
      <p>エントリー中の大会はありません</p>
    <% else %>
      <p>エントリー中の大会</p>
      <% @entries.each do |entry| %>
        <%= link_to tournament_path(entry.tournament.id) do %>
          <%= entry.tournament.fishing_ground %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>