<div class="mypage">
  <div class="title">
    <h3>マイページ</h3>
  </div>

  <div class="btn_group">
    <%= link_to 'プロフィール編集', edit_user_path(current_user), class:"btn"  %>
  </div>


  <%# <% @tournaments.each do |tournament| %> %>
    <%# <hr> %>
    <%# <p><span>投稿したトーナメント内容: </span><%=link_to tournaments.fishing_ground, tournament_path(tournament.id) %></p> %>
  <%# <% end %> %>


  <div class="profile">
    <%= image_tag @user.image.url %>
    <div class="nickname">
      <label>ニックネーム：</label> <%= @user.nickname %>
    </div>
    <div class="email">
      <label>Eメールアドレス：</label> <%= @user.email %>
    </div>
    <div class="main_field">
      <label>ホームの釣り場：</label> <%= @user.main_field %>
    </div>
    <div class="main_target">
      <label>メインの魚種：</label> <%= @user.main_target %>
    </div>
    <div class="max_size">
      <label>メイン魚種の自己記録：</label> <%= @user.max_size %>
    </div>
    <div class="comment">
      <label>コメント：</label> <%= @user.comment %>
    </div>
  </div>


 <% @tournaments.each do |tournament| %>
  <p><span>投稿内容: </span><%= tournament.fishing_ground %></p>
 <% end %>

</div>