  
<div class="bg_coler">
  <b><i class="far fa-image"></i> サムネイル選択</b> 
  <p class="explain">※ 選択が無い場合は下のデフォルト画像を表示します</p>
  <div class="form-group  row justify-content-center">
    <br>
    <label>
      <div class="thumbnail">
        <%= f.file_field :image, id: "tournament_img" %>
        <%= f.hidden_field :image_cache %>
        <%= image_tag asset_path("#{@tournament.image}"), id: "img_prev" %>
        <div class="mask">
          <div class="caption">サムネイル選択はここをクリック</div>
        </div>
      </div>
    </label>
  </div>
</div>
<br>
<div class="bg_coler">
  <div class="form-group">
    <b><i class="far fa-calendar-alt"></i> 開催期間 <span class="label label-danger">必須</span></b>
    <div class="form-inline">
      <label>開始：</label>
      <%= f.datetime_field :start_time, class: "form-control", required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
      <label>　〜　終了：</label>
      <%= f.datetime_field :end_time, class: "form-control", required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>
<br>
<div class="bg_coler">
  <div class="form-group">
    <b><i class="fas fa-map-marker-alt"></i> フィールド <span class="label label-danger">必須</span></b>
    <div>
      <label style="width:50%"><%= f.text_field :fishing_ground, class: "form-control", placeholder: "(例) 琵琶湖　南湖全域", required: true %></label>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    </div>
    <div class="help-block with-errors"></div>
  </div>
</div>
<br>
<div class="bg_coler">
  <b><i class="far fa-address-book"></i> 釣りスタイル <span class="label label-danger">必須</span></b>
  <div class="form-group">
    <ul class="image-list">
      <li>
        <label>
          <div class="style-image">
            <img class="image" src="<%= asset_path "t1.png" %>">
            <%= f.radio_button :fishing_style, "陸っぱり", {class: "radio-box", required: true}%>
            <p>陸っぱり</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="style-image">
            <img class="image" src="<%= asset_path "t2.png" %>">
            <%= f.radio_button :fishing_style, "磯釣り", {class: "radio-box", required: true}%>
            <p>磯釣り</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="style-image">
            <img class="image" src="<%= asset_path "t3.png" %>">
            <%= f.radio_button :fishing_style, "2馬力以下", {class: "radio-box", required: true}%>
            <p>2馬力以下</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="style-image">
            <img class="image" src="<%= asset_path "t4.png" %>">
            <%= f.radio_button :fishing_style, "ボート", {class: "radio-box", required: true}%>
            <p>ボート</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="style-image">
            <img class="image" src="<%= asset_path "t5.png" %>">
            <%= f.radio_button :fishing_style, "全アングラー", {class: "radio-box", required: true}%>
            <p>全アングラー</p>
          </div>
        </label>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="bg_coler">
  <div class="form-group">
    <b><i class="fas fa-fish fa-flip-horizontal"></i> 対象魚 <span class="label label-danger">必須</span></b>
    <div class="search-form">
      <i class="fas fa-search fa-xs search-icon"></i>
      <input type="text" class="form-control search-text" placeholder="検索：">
    </div>
    <p class="explain">※ <font color="red">選択欄に無い</font>場合や<font color="red">複数指定したい</font>場合は 「その他の魚種」 から入力できます</p>
    <ul class="image-list">
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/other.jpg" %>">
            <%= f.radio_button :fish_name, "other", {class: "radio-box", required: true}%>
            <p>その他の魚種</p>
          </div>
        </label>
        <%= f.text_area :fish_name, class: "form-control", placeholder: "(例) 特定の対象魚又は、複数の対象魚を入力", id: "othertext", rows: "3" %>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/large_bass.jpg" %>">
            <%= f.radio_button :fish_name, "ラージマウスバス", {class: "radio-box", required: true}%>
            <p>ラージマウスバス</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/small_bass.jpg" %>">
            <%= f.radio_button :fish_name, "スモールマウスバス", {class: "radio-box", required: true}%>
            <p>スモールマウスバス</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/catfish.jpg" %>">
            <%= f.radio_button :fish_name, "ナマズ", {class: "radio-box", required: true}%>
            <p>ナマズ</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/snakehead.jpg" %>">
            <%= f.radio_button :fish_name, "ライギョ", {class: "radio-box", required: true}%>
            <p>ライギョ</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/carp.jpg" %>">
            <%= f.radio_button :fish_name, "鯉", {class: "radio-box", required: true}%>
            <p>鯉</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/cruciancarp.jpg" %>">
            <%= f.radio_button :fish_name, "フナ", {class: "radio-box", required: true}%>
            <p>フナ</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/sea_bass.jpg" %>">
            <%= f.radio_button :fish_name, "シーバス", {class: "radio-box", required: true}%>
            <p>シーバス</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/hippurus.jpg" %>">
            <%= f.radio_button :fish_name, "シイラ", {class: "radio-box", required: true}%>
            <p>シイラ</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/amberjack.jpg" %>">
            <%= f.radio_button :fish_name, "青物", {class: "radio-box", required: true}%>
            <p>青物</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/redsnapper.jpg" %>">
            <%= f.radio_button :fish_name, "鯛", {class: "radio-box", required: true}%>
            <p>鯛（チヌ）</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/rockfish.jpg" %>">
            <%= f.radio_button :fish_name, "ロックフィシュ", {class: "radio-box", required: true}%>
            <p>ロックフィシュ</p>
          </div>
        </label>
      </li>
      <li>
        <label>
          <div class="image-box">
            <img class="image" src="<%= asset_path "tournament/squid.png" %>">
            <%= f.radio_button :fish_name, "イカ", {class: "radio-box", required: true}%>
            <p>イカ</p>
          </div>
        </label>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="bg_coler">
  <div class="form-group" >
    <b><i class="fas fa-lock"></i> 釣り方の縛り</b>
    <div>
      <label style="width:50%"><%= f.text_field :designation, class: "form-control", placeholder: "(例) ビッグベイト縛り" %></label>
      </div>
  </div>
</div>
<br>
<div class="bg_coler">
  <b><i class="fas fa-book-open"></i> メイン ルール <span class="label label-danger">必須</span></b>
  <div class="form-group row justify-content-center">
    <div class="col-sm-10 btn-group" data-toggle="buttons">
      <label class="btn btn-outline-secondary active" style="width:20%">
        <%= f.radio_button :main_rule, "デカイもん勝ち", {required: true} %> デカイもん勝ち
      </label>
      <label class="btn btn-outline-secondary" style="width:20%">
        <%= f.radio_button :main_rule, "合計長さで勝負", {required: true} %> 合計長さで勝負
      </label>
      <label class="btn btn-outline-secondary" style="width:20%">
        <%= f.radio_button :main_rule, "とにかく数を釣れ", {required: true} %> とにかく数を釣れ
      </label>
    </div>
  </div>
  <div class="form-group" >
    <div class="limit_select"> 
      <div id="judging_limit">
        <b><i class="fas fa-sort-amount-up"></i> 合計値の対象枠 <span class="add_label label-success">追加項目</span></b>
        <label style="width:50%"><%= f.select :judging_limit, {"上位3位の合計値": 3, "上位5位の合計値": 5, "上位10位の合計値": 10, "上位15位の合計値": 15, "上位20位の合計値": 20, "上位25位の合計値": 25, "上位30位の合計値": 30, "上限無し": 99999 }, { include_blank: '選択してください'}, { class: 'form-control' } %></label>
        <br>
      </div>
      <div id="swap_limit">
        <b><i class="fas fa-sync-alt"></i> 入れ替え対象枠 <span class="add_label label-success">追加項目</span></b>
        <label style="width:50%"><%= f.select :swap_limit, {"5匹まで": 5, "10匹まで": 10, "15匹まで": 15, "20匹まで": 20, "25匹まで": 25, "30匹まで": 30, "上限無し": 99999 }, { include_blank: '選択してください'}, { class: 'form-control' } %></label>
        <br>
      </div>
      <div id="limit_content">
        <p class="explain">※ 追加項目の詳細は下を参考にして下さい</p>
        <img src="<%= asset_path "tournament/limit_content.png" %>">
      </div>
    </div>
  </div>
</div>
<br>
<div class="bg_coler">
  <div class="form-group">
    <b><i class="fas fa-ruler"></i> 計測方法 <span class="label label-danger">必須</span></b>
    <div>
      <label style="width:50%"><%= f.select :measure_rule, {"口閉じ尾開き": "口閉じ尾開き", "上顎尾開き": "上顎尾開き", "胴寸（イカ釣りに適用）": "胴寸"}, { include_blank: '選択してください'}, { class: 'form-control', required: true } %></label>
    </div>
  </div>
</div>
<br>
<div class="bg_coler">
  <div class="form-group">
    <b><i class="fab fa-font-awesome-flag"></i> キーパー <span class="label label-danger">必須</span></b>
    <div>
      <label style="width:50%"><%= f.select :keeper_size, {"無し": 0, "10cm以上": 10, "15cm以上": 15, "20cm以上": 20, "25cm以上": 25, "30cm以上": 30, "35cm以上": 35, "40cm以上": 40, "45cm以上": 45, "50cm以上": 50, "55cm以上": 55, "60cm以上": 60, "65cm以上": 65, "70cm以上": 70, "75cm以上": 75, "80cm以上": 80, "85cm以上": 85, "90cm以上": 90, "95cm以上": 95, "100cm以上": 100}, { include_blank: '選択してください'}, { class: 'form-control', required: true } %></label>
    </div>
  </div>
</div>
<br>
<div class="bg_coler">
  <b><i class="fas fa-pen"></i> 備考 </b>
  <div class="form-group row justify-content-center">
    <label style="width:80%"><%= f.text_area :comment, class: "form-control", placeholder: "(例)
    ：【ルアー縛り】です。魚と一緒に釣れたルアーも写真に載せて下さい！
    ：安全に釣りを楽しもうね！
    ：地元の方に挨拶しましょう！
    ：ゴミは持ち帰ろう！", rows: "8" %></label>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>
</div>
<br>
<% if local_assigns[:edit_flag].present? %>
  <div class="btn_group col text-center">
    <div class="btn_cancel">
      <%= link_to 'キャンセル', tournament_path, class:"btn btn-outline-success btn-lg w-25"  %>
    </div>
    <div class="btn_update">
      <%= f.submit "更新", class: "btn btn-outline-primary btn-lg w-25", data: { confirm: "更新しますか？"} %>
    </div>
  </div>
<% else %>
  <div class="col text-center">
    <%= f.submit "入力確認", class: "btn btn-outline-primary btn-lg w-25" %>
  </div>
<% end %>