<%= link_to tournament_path(tournament.id) do %>
  <label>
    <div class="tournaments-contents">
      <div class="thumbnail">
        <%= image_tag tournament.image.url %>
          <p class="title"><%= "【#{tournament.fishing_ground}】" %></p>
          <p class="sub_title"><%= "#{tournament.fishing_style} 大会" %></p>
      </div>
      <div class="time">
        <h4><i class="far fa-calendar-alt i_gray"></i> 開催期間：</h4>
        <h4>  <%= "#{l tournament.start_time, format: :long} 〜 #{l tournament.end_time, format: :long}" %></h4>
      </div>
      <div class="win_lose">
      <h4><i class="fas fa-crown i_yellow"></i> 勝敗： <%= tournament.main_rule %></h4>
      </div>
      <div class="target">
      <h4><i class="fas fa-fish i_blue fa-flip-horizontal"></i> ターゲット：</h4>
      <h4> <%= tournament.fish_name %></p>
      </div>
      <h4 class="entries"><%= "#{tournament.entries.count}人参加中" %></h4>
    </div>
  </label>
<% end %>