<%= link_to tournament_path(tournament.id) do %>
  <div class="tournaments-contents">
    <%= image_tag '/default_img.jpg' %>
    <h3><%= "開始：#{l tournament.start_time, format: :long}" %></h3>
    <h3><%= "終了：#{l tournament.end_time, format: :long}" %></h3> 
    <h3><%= "指定エリア：#{tournament.fishing_ground}" %></h3> 
    <h3><%= "スタイル：#{tournament.fishing_style}" %></h3>
    <p><%= "対象魚：#{tournament.fish_name}" %></p>
    <%# <p><%= "キーパーサイズ：#{tournament.keeper_size}" %></p> %>
    <%# <p><%= "最大匹数：#{tournament.swap_limit}" %></p> %>
    <%# <p><%= "詳細内容：#{tournament.comment}" %></p> %>
  </div>
<% end %>