<div class="container">
  <section id="confirm">
    <label>【 開催期間 】</label>
      <div class="form-inline">
        <%= l @tournament.start_time, format: :long %><span> 〜 </span><%= l @tournament.end_time, format: :long %>
      </div>
    <br>
    <label>【 エリア 】　</label><%= @tournament.fishing_ground %>
    <br>
    <label>【 対象魚 】　</label><%= @tournament.fish_name %>
    <br>
    <label>【 釣りスタイル 】　</label><%= @tournament.fishing_style %>
    <br>
    <label>【 メイン ルール 】　</label><%= @tournament.main_rule %>
    <br>
    <label>【 ルアー縛り 】　</label><%= @tournament.designation_lure %>
    <br>
    <% if @tournament.swap_limit == "9999" && @tournament.judging_limit == "9999" %>
      <label>【 本数制限 】　</label>本数制限は有りません。全ての釣果の合計値で勝負します！
    <% elshif @tournament.swap_limit == "9999" %>
      <label>【 本数制限 】　</label>全ての釣果から上位<%= @tournament.judging_limit %>位の合計値で勝負します！
      <% elshif @tournament.judging_limit == "9999" %>
      <label>【 本数制限 】　</label>全ての釣果から上位<%= @tournament.judging_limit %>位の合計値で勝負します！
    <% else %>
      <% end  %>
      <label>【 本数制限 】　</label><%= @tournament.swap_limit %>匹の中で、上位<%= @tournament.judging_limit %>位の合計値で勝負します！
    <br>
    <label>【 サブ ルール 】　</label>
    <% @tournament.sub_rule %>
    <br>
    <label>【 キーパーサイズ 】　</label><%= @tournament.keeper_size %>
    <br>
    <label>【 備考 】　</label><%= @tournament.comment %>
    <br>

    <%= form_with model: @tournament, url: new_tournaments_path, html: { method: :post }, local: true do |f| %>
      <%= f.hidden_field :start_time %>
      <%= f.hidden_field :end_time %>
      <%= f.hidden_field :fishing_ground %>
      <%= f.hidden_field :fishing_style %>
      <%= f.hidden_field :main_rule %>
      <%= f.hidden_field :sub_rule %>
      <%= f.hidden_field :fish_name %>
      <%= f.hidden_field :keeper_size %>
      <%= f.hidden_field :swap_limit %>
      <%= f.hidden_field :judging_limit %>
      <%= f.hidden_field :measure_rule %>
      <%= f.hidden_field :designation_lure %>
      <%= f.hidden_field :comment %>
      <%= f.hidden_field :other_name %>
      <%= f.submit '入力画面へ戻る'%>
    <% end %>

    <%= form_with model: @tournament, url: tournaments_path, html: { method: :post }, local: true do |f| %>
      <%= f.hidden_field :start_time %>
      <%= f.hidden_field :end_time %>
      <%= f.hidden_field :fishing_ground %>
      <%= f.hidden_field :fishing_style %>
      <%= f.hidden_field :main_rule %>
      <%= f.hidden_field :sub_rule %>
      <%= f.hidden_field :fish_name %>
      <%= f.hidden_field :keeper_size %>
      <%= f.hidden_field :swap_limit %>
      <%= f.hidden_field :judging_limit %>
      <%= f.hidden_field :measure_rule %>
      <%= f.hidden_field :designation_lure %>
      <%= f.hidden_field :comment %>
      <%= f.hidden_field :other_name %>
      <%= f.submit '作成する'%>
    <% end %>
  </section>
</div>