<table class="table"></table>
      <tr>
        <th>開始</th>
        <td><%= l @tournament.start_time, format: :long %></td>
        <th>終了</th>
        <td><%= l @tournament.end_time, format: :long %></td>
      <tr>
        <th>場所</th>
        <td><%= @tournament.fishing_ground %></td>
      <tr>
        <th>釣りのスタイル</th>

        <td><%= @tournament.fishing_style %></td>
      <tr>
        <th>指定条件</th>
        <td><%= @tournament.main_rule %></td>
      <tr>
        <th>対象魚</th>
        <td><%= @tournament.fish_name %></td>
      <tr>
        <th>キーパーサイズ</th>
        <td><%= @tournament.keeper_size %></td>
      <tr>
        <th>最大匹数</th>
        <td><%= @tournament.swap_limit %></td>
      <tr>
        <th>コメント</th>
        <td><%= @tournament.comment %></td>

<%= form_with model: @tournament, url: new_tournaments_path, html: { method: :post }, local: true do |f| %>
  <%= f.hidden_field :start_time %>
  <%= f.hidden_field :end_time %>
  <%= f.hidden_field :fishing_ground %>
  <%= f.hidden_field :fishing_style %>
  <%= f.hidden_field :main_rule %>
  <%= f.hidden_field :fish_name %>
  <%= f.hidden_field :keeper_size %>
  <%= f.hidden_field :swap_limit %>
  <%= f.hidden_field :comment %>
  <%= f.submit '入力画面へ戻る'%>
<% end %>

<%= form_with model: @tournament, url: tournaments_path, html: { method: :post }, local: true do |f| %>
  <%= f.hidden_field :start_time %>
  <%= f.hidden_field :end_time %>
  <%= f.hidden_field :fishing_ground %>
  <%= f.hidden_field :fishing_style %>
  <%= f.hidden_field :main_rule %>
  <%= f.hidden_field :fish_name %>
  <%= f.hidden_field :keeper_size %>
  <%= f.hidden_field :swap_limit %>
  <%= f.hidden_field :comment %>
  <%= f.submit 'イベントを投稿する'%>
<% end %>
