<section id="tournaments">
  <h1>WEBトーナメント編集画面</h1><br><br>

  <%= form_with model: @tournament, local: true do |f| %> 
    <div class="form-group">
      <label>開催期間<span class="label label-danger">必須</span></label>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <label>開始：</label>
        <%= f.datetime_field :start_time, class: "form-control", required: true %>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <label>　〜　終了：</label>
        <%= f.datetime_field :end_time, class: "form-control", required: true %>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label>エリア指定 <span class="label label-danger">必須</span></label>
      <%= f.text_field :fishing_ground, class: "form-control", placeholder: "(例) 琵琶湖　南湖全域", required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>スタイル <span class="label label-danger">必須</span></label>
      <%= f.text_field :fishing_style, class: "form-control", placeholder: "(例) 陸っぱり",  required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>対象魚 <span class="label label-danger">必須</span></label>
      <%= f.text_field :fish_name, class: "form-control", placeholder: "(例) ラージマウスバス",  required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>指定条件 <span class="label label-danger">必須</span></label>
      <%= f.text_field :condition, class: "form-control", placeholder: "(例) ルアーのみ（生き餌不可）",  required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>キーパーサイズ <span class="label label-danger">必須</span></label>
      <%= f.text_field :keeper_size, class: "form-control", placeholder: "(例) 25(数値のみ記入してください)",  required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>最大匹数 <span class="label label-danger">必須</span></label>
      <%= f.text_field :some_fish, class: "form-control", placeholder: "(例) 3(数字のみ記入してください)",  required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>コメント </label>
      <%= f.text_area :comment, class: "form-control", placeholder: "(例) ：最大3匹の合計長さで勝負しましょう
      ：口閉じ尾開き、下顎計測
      ：メジャー全体が見える状態で撮影する", rows: "8" %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>

    <div class="btn_group">
      <div class="btn_update">
        <%= f.submit "更新", class: "btn btn-primary btn-lg w-25", data: { confirm: "更新しますか？"} %>
      </div>

      <div class="btn_cancel">
        <%= link_to 'キャンセル', tournament_path, class:"btn btn-success"  %>
      </div>
    </div>

  <% end %>
</section>








