<%= javascript_pack_tag 'tournament/held_list', 'data-turbolinks-track': 'reload' %>
<section id="tournament_index">
  <section id="page_title">
    <h1>大会情報</h1>
  </section>
  <div class="container">
    <small class="text-muted f-12">大会投稿写真にはGPSデータが必要です。「画像GPSチェック」で確認することをお勧めします。</small>
    <div style="text-align:center;">
      <%= link_to "画像GPSチェック", new_gps_check_path, class: "btn btn-outline-warning btn-lg w-40"%>
      <%= link_to "大会の新規作成", new_tournament_path, class: "btn btn-outline-info btn-lg w-40"%>
    </div>
    <div class="tournaments-wrapper">
      <div class="held_tabs">
        <div class="tab-area">
          <div class="tab active">開催中</div>
          <div class="tab">開催予定</div>
          <div class="tab">過去の大会</div>
        </div>
        <div class="content-area">
          <div class="content show">
            <% if @tournaments.length == 0 %>
              Coming Soon
            <% else %>
              <%= render partial: "tournament", collection: @tournaments %>
            <% end %>
          </div>
          <div class="content">
            <% if @before_tournaments.length == 0 %>
                Coming Soon
            <% else %>
              <%= render partial: "tournament", collection: @before_tournaments %>
            <% end %>
          </div>
          <div class="content">
            <%= render partial: "tournament", collection: @after_tournaments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>