<%= javascript_pack_tag 'tournament/image_list', 'data-turbolinks-track': 'reload' %>
<%# <%= javascript_pack_tag 'tournament/limit_select', 'data-turbolinks-track': 'reload' %> %>
<%# <%= javascript_pack_tag 'tournament/disabled_select', 'data-turbolinks-track': 'reload' %> %>
<div class="container">
  <section id="tournaments">
    <h1>WEBトーナメント新規作成画面</h1><br>
    <%= form_with model: @tournament, url: confirm_tournaments_path, html: { method: :post }, local: true do |f| %> 
      <div class="form-group">
        <label>開催期間の設定 <span class="label label-danger">必須</span></label>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label>開始：</label>
          <%= f.datetime_field :start_time, class: "form-control", required: true %>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label>　〜　終了：</label>
          <%= f.datetime_field :end_time, class: "form-control", required: true %>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>エリアの指定 <span class="label label-danger">必須</span></label>
        <%= f.text_field :fishing_ground, class: "form-control", placeholder: "(例) 琵琶湖　南湖全域", required: true %>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>
      <br>
      <div class="form-group">
        <label>釣りスタイル <span class="label label-danger">必須</span></label>
        <br>
        <div class="col-sm-10 btn-group" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" style="width:25%">
            <%= f.radio_button :fishing_style, "陸っぱり", {checked: true} %> 陸っぱり
          </label>
          <label class="btn btn-outline-secondary" style="width:25%">
            <%= f.radio_button :fishing_style, "船", {} %> 船
          </label>
          <label class="btn btn-outline-secondary" style="width:25%">
            <%= f.radio_button :fishing_style, "フローターのみ", {} %> フローターのみ
          </label>
          <label class="btn btn-outline-secondary" style="width:25%">
            <%= f.radio_button :fishing_style, "問わない（全てのアングラー）", {} %> 問わない（全てのアングラー）
          </label>
        </div>
      </div>
      <br>
      <div class="form-group">
      
        <label>対象魚 <span class="label label-danger">必須</span></label>
        <ul class="image-list">
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/other.jpg" %>">
                <%= f.radio_button :fish_name, "ture", class: "radio-box"%>
                <p>その他の魚種</p>
              </div>
              
            </label>
            <%= f.text_area :fish_name, class: "form-control", placeholder: "(例) 特定の対象魚又は、複数の対象魚を入力", id: "othertext", rows: "3" %>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/large_bass.jpg" %>">
                <%= f.radio_button :fish_name, "ラージマウスバス", class: "radio-box"%>
                <p>ラージマウスバス</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/small_bass.jpg" %>">
                <%= f.radio_button :fish_name, "スモールマウスバス", class: "radio-box"%>
                <p>スモールマウスバス</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/catfish.jpg" %>">
                <%= f.radio_button :fish_name, "ナマズ", class: "radio-box"%>
                <p>ナマズ</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/snakehead.jpg" %>">
                <%= f.radio_button :fish_name, "ライギョ", class: "radio-box"%>
                <p>ライギョ</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/carp.jpg" %>">
                <%= f.radio_button :fish_name, "鯉", class: "radio-box"%>
                <p>鯉</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/cruciancarp.jpg" %>">
                <%= f.radio_button :fish_name, "フナ", class: "radio-box"%>
                <p>フナ</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/sea_bass.jpg" %>">
                <%= f.radio_button :fish_name, "シーバス", class: "radio-box"%>
                <p>シーバス</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/hippurus.jpg" %>">
                <%= f.radio_button :fish_name, "シイラ", class: "radio-box"%>
                <p>シイラ</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/amberjack.jpg" %>">
                <%= f.radio_button :fish_name, "青物", class: "radio-box"%>
                <p>青物</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/redsnapper.jpg" %>">
                <%= f.radio_button :fish_name, "鯛", class: "radio-box"%>
                <p>鯛（チヌ）</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/rockfish.jpg" %>">
                <%= f.radio_button :fish_name, "ロックフィシュ", class: "radio-box"%>
                <p>ロックフィシュ</p>
              </div>
            </label>
          </li>
          <li>
            <label>
              <div class="image-box">
                <img class="image" src="<%= asset_path "tournament/squid.png" %>">
                <%= f.radio_button :fish_name, "イカ", class: "radio-box"%>
                <p>イカ</p>
              </div>
            </label>
          </li>
        </ul>
      </div>
      <br>
      <div class="form-group">
          <label>メイン ルール <span class="label label-danger">必須</span></label>
          <br>
        <div class="col-sm-10 btn-group" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" style="width:20%">
            <%= f.radio_button :main_rule, "１匹の最大長さ", {} %> １匹の最大長さ
          </label>
          <label class="btn btn-outline-secondary" style="width:20%">
            <%= f.radio_button :main_rule, "合計長さ", {} %> 合計長さ
          </label>
          <label class="btn btn-outline-secondary" style="width:20%">
            <%= f.radio_button :main_rule, "とにかく数を釣れ！", {} %> とにかく数を釣れ！
          </label>
        </div>
      </div>
      <br>
      <div class="form-group" >
        <label>ルアー縛り</label>
          <%= f.text_field :designation_lure, class: "form-control", placeholder: "ルアー名を記述" %>
          <br>
        <div class="limit_select"> 
          <div id="judging_limit">
            <label>合計値の対象枠 <span class="add_label label-success">追加項目</span></label>
            <%= f.select :judging_limit, [ ["上位3位の合計値", 3], ["上位5位の合計値", 5], ["上位10位の合計値", 10], ["上位15位の合計値", 15], ["上位20位の合計値", 20], ["上位25位の合計値", 25], ["上位30位の合計値", 30], ["上限無し", 9999] ], prompt: "選択してください", required: true %>
          </div>
          <div id="swap_limit">
            <label>入れ替え対象枠 <span class="add_label label-success">追加項目</span></label>
            <%= f.select :swap_limit, [ ["5匹まで", 5], ["10匹まで", 10], ["15匹まで", 15], ["20匹まで", 20], ["25匹まで", 25], ["30匹まで", 30], ["上限無し", 9999] ], prompt: "選択してください", required: true %>
          </div>
          <div id="limit_content">
            <img src="<%= asset_path "tournament/limit_content.png" %>">
          </div>
        </div>
      </div>
      <br>



      <div class="form-group">
        <label>サブ ルール</label>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>
      <ul class="sub-list">

        <li>
          <label>
            <div class="check-box">
              <p><%= f.check_box :sub_rule, { multiple: true, include_hidden: false }, "ウェーディング有り" %>ウェーディング有り</p>
            </div>
          </label>
        </li>
        <li>
          <label>
            <div class="check-box">
              <p><%= f.check_box :sub_rule, { multiple: true, include_hidden: false }, "船全般OK" %>船全般OK</p>
            </div>
          </label>
        </li>
        <li>
          <label>
            <div class="check-box">
              <p><%= f.check_box :sub_rule, { multiple: true, include_hidden: false }, "膝までの入水OK" %>膝までの入水OK</p>
            </div>
          </label>
        </li>
      </ul>
      <br>








      <div class="form-group">
          <label>キーパーサイズ <span class="label label-danger">必須</span></label>
          <br>
          <%= f.select :keeper_size, [ ["無し",0], ["10cm", 10], ["15cm", 15], ["20cm", 20] ,["25cm", 25], ["30cm", 30], ["35cm", 35], ["40cm", 40], ["45cm", 45] ,["50cm", 50], ["55cm", 55], ["60cm", 60], ["65cm", 65], ["70cm", 70] ,["75cm", 75], ["80cm", 80], ["95cm", 95], ["100cm", 100] ], prompt: "選択してください", class: "keeper_size", required: true %>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label>備考 </label>
        <%= f.text_area :comment, class: "form-control", placeholder: "(例)
        ：【ルアー縛り】です。魚と一緒に釣れたルアーも写真に載せて下さい！
        ：安全に釣りを楽しもうね！
        ：地元の方に挨拶しましょう！
        ：ゴミは持ち帰ろう！", rows: "8" %>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>
      <br>
      <div class="col text-center">
      <%= f.submit "確認", class: "btn btn-primary btn-lg w-25" %>
      </div>
    <% end %>
  </section>
</div>