<h1>詳細画面</h1>

<h3><%= "開催日：#{@tournament.date}" %></h3> 
    <h3><%= "場所：#{@tournament.fishing_ground}" %></h3> 
    <h3><%= "スタイル：#{@tournament.fishing_style}" %></h3>
    <p><%= "対象魚種：#{@tournament.fish_name}" %></p>
    <p><%= "キーパーサイズ：#{@tournament.keeper_size}" %></p>
    <p><%= "最大匹数：#{@tournament.some_fish}" %></p>
    <p><%= "詳細内容：#{@tournament.comment}" %></p>

    <%= image_tag @user.image.url %>
    <h1><%= @user.nickname %></h1>

  <% if user_signed_in? && current_user.id == @user[:id] %>
    <div class="btn_group">
      <%= link_to '編集', edit_tournament_path(@tournament), class:"btn"  %>
      <%= link_to '削除', tournament_path(@tournament), method: :delete, class:"btn", data: {confirm: "削除しますか？"}  %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <% if @tournament.entry_completed_by?(current_user) %> 
        <p>エントリー中</p>
        <p><%=link_to '投稿', new_tournament_post_path(@tournament.id)%></p>
        <p><%=link_to 'エントリーを解除', tournament_entries_path(@tournament.id), method: :delete, data: { confirm: "エントリー解除すると、トーナメントに投稿したデータは削除されます。解除しますか？"}%></p>
    <% else %>
        <p><%=link_to 'エントリーする', tournament_entries_path(@tournament.id), method: :post %></p>
    <% end %>
  <% else %>
  <% end %>

  <p></p>


  <p>ランキング</p>
  <% @ranks.each.with_index(1) do |((user_id, image, nickname),sum_size),i| %>
    <%= link_to  record_tournament_post_path(tournament_id: @tournament, post_id: @post) do %>
      <p><%= "第#{i}位  ID: #{user_id}  #{nickname}" %></p>
      <p><%= "合計サイズ　#{sum_size}cm" %></p>
      <% user = User.find(user_id) %>
      <%= image_tag user.image.url %>
    <% end %>
  <% end %>

  <% @max_size_img.each do |((user_id,post), max_size)| %>
    <p><%= "#{user_id} ：　最大サイズ #{max_size}cm"  %></p>
    <% img = Post.find(post) %>
    <%= image_tag img.fish_image.url %>
  <% end %>
  
  <%= link_to  "もっとみる", ranks_tournament_post_path(tournament_id: @tournament) %>

  <p><span>現在の参加者数: </span><%= @tournament.entries.count %></p>