<h1>詳細画面</h1>

<h3><%= "開催日：#{@tournament.date}" %></h3> 
    <h3><%= "場所：#{@tournament.fishing_ground}" %></h3> 
    <h3><%= "スタイル：#{@tournament.fishing_style}" %></h3>
    <p><%= "対象魚種：#{@tournament.fish_name}" %></p>
    <p><%= "キーパーサイズ：#{@tournament.keeper_size}" %></p>
    <p><%= "最大匹数：#{@tournament.some_fish}" %></p>
    <p><%= "詳細内容：#{@tournament.comment}" %></p>

  <%# <% if user_signed_in? && current_user.id == @tournament[:id] %> %>
    <div class="btn_group">
      <%= link_to '編集', edit_tournament_path(@tournament), class:"btn"  %>
      <%= link_to '削除', tournament_path(@tournament), method: :delete, class:"btn", data: {confirm: "削除しますか？"}  %>
    </div>
  <%# <% end %> %>