<%= javascript_pack_tag 'top/slide', 'data-turbolinks-track': 'reload' %>
<section id="top">
  <div class="slide">
    <img src="<%= asset_path "top/top_img.png" %>" />
    <img src="<%= asset_path "top/top2_img.jpg" %>" />
    <img src="<%= asset_path "top/top3_img.png" %>" />
    <img src="<%= asset_path "top/top4_img.jpg" %>" />
  </div>
  <div class="container">
    <div class="top_message">
      <h2>釣果を競い合おう・共有しよう</h2>
      <p>釣りに関する情報共有を目的に、フィールド別での今日の最大魚を競い合うWEBトーナメントサービスです</p>
    </div>
    <h2 class="text-center">イベント情報</h2>
    <div class="text-center">
      <%= link_to "もっとみる", events_path %>
    </div>
    <h2 class="text-center">WEBトーナメント情報</h2>
    <section id="tournament_index">
      <div class="tournaments-wrapper">
        <%= render @tournaments %>
      </div>
    </section>
    <div class="text-center">
      <%= link_to  "もっとみる", tournaments_path %>
    </div>
    <h2 class="text-center">釣果情報</h2>
    <div class="text-center">
      <%= link_to  "もっとみる", '#' %>
    </div>
  </div>
</section>
