<h1>投稿確認画面</h1>
<div class="container">
  <section id="post_confirm">
    <div class="post_info">
      <%= image_tag "#{@post.fish_image}", class:"card-img-top" %>
      <div class="content_block">
        <h3>釣果データ</h3>
        <p><%= "撮影日：#{l @post.datetime, format: :short}" %></p>
        <h3><%= "魚種：#{@post.fish_name}" %></h3>
        <h3><%= "サイズ：#{@post.catch_size}" %></h3> 
        <h3><%= "重量：#{@post.weight}" %></h3>

        <script type="text/javascript">
          function initMap() {
            var latlng ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11, 
                center: latlng
            });
            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            new google.maps.Circle({
              center: latlng,
              fillColor: '#ff0000',
              fillOpacity: 0.3,
              map: map,
              radius: 7000,
              strokeColor: '#ff0000',
              strokeOpacity: 1,
              strokeWeight: 3
            });
          }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
        </script>
        <style type="text/css">
          #map { height: 400px;
                  width: 100%;}
        </style>
        <div id="map"></div>
        <small class="text-muted f-12">マップの中心は釣果のポイントを示すものではありません。</small>
      </div>
      <div class="content_block">
        <h3>釣れたルアー(仕掛け)</h3>
        <%= @post.lure %>
      </div>
      <div class="content_block">
        <h3>釣れたレンジ</h3>
        <%= @post.range %>
      </div>
      <div class="content_block">
        <h3>タックル</h3>
        <p><%= "釣れたロッド：#{@post.rod}" %></p>
        <p><%= "釣れたリール：#{@post.reel}" %></p>
        <p><%= "釣れたライン：#{@post.line}" %></p>
      </div>
    </div>
    <%= form_with model: [@tournament, @post], url: new_tournament_post_path, html: { method: :post }, local: true do |f| %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :fish_name %>
      <%= f.hidden_field :catch_size %>
      <%= f.hidden_field :weight %>
      <%= f.hidden_field :lure %>
      <%= f.hidden_field :rod %>
      <%= f.hidden_field :reel %>
      <%= f.hidden_field :line %>
      <%= f.hidden_field :range %>
      <%= f.hidden_field :datetime %>
      <div class="col text-center">
        <%= f.submit "入力画面へ戻る", class: "btn btn-outline-success btn-lg w-25" %>
      </div>
    <% end %>

    <%= form_with model: [@tournament, @post], url: tournament_posts_path, html: { method: :post }, local: true do |f| %>
      <%= f.hidden_field :fish_image %>
      <%= f.hidden_field :fish_image_cache %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :fish_name %>
      <%= f.hidden_field :catch_size %>
      <%= f.hidden_field :weight %>
      <%= f.hidden_field :lure %>
      <%= f.hidden_field :rod %>
      <%= f.hidden_field :reel %>
      <%= f.hidden_field :line %>
      <%= f.hidden_field :range %>
      <%= f.hidden_field :datetime %>
      <div class="col text-center">
        <%= f.submit "トーナメントに投稿", class: "btn btn-outline-primary btn-lg w-25" %>
      </div>
    <% end %>
  </section>
</div>