<h1>ランキング一覧</h1>
<div class="container">
  <section id="post_ranks">
    <div class="ranks-wrapper">
      <% before_rank = 0 %>
      <% j = "1" %>

      <div class="limit">
        <% if @tournament.main_rule == "とにかく数を釣れ" %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>全釣果の釣った数で勝負します！</b>

        <% elsif @tournament.swap_limit == "99999" && @tournament.judging_limit.blank? %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>全釣果から一番長い個体で勝負します！</b>

        <% elsif @tournament.swap_limit < "99999" && @tournament.judging_limit.blank? %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>入れ替え上限<%= @tournament.swap_limit %>匹の中から一番長い個体で勝負します！</b>

        <% elsif @tournament.swap_limit == "99999" && @tournament.judging_limit == "99999" %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>入れ替え上限なし！全釣果の合計値で勝負します！</b>

        <% elsif @tournament.swap_limit == "99999" && @tournament.judging_limit < "99999" %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>入れ替え上限なし！全釣果から上位<%= @tournament.judging_limit %>位の合計値で勝負します！</b>

        <% elsif @tournament.swap_limit < "99999" && @tournament.judging_limit == "99999" %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>入れ替え上限<%= @tournament.swap_limit %>匹までの釣果の合計値で勝負します！</b>

        <% elsif @tournament.swap_limit < "99999" && @tournament.judging_limit < "99999" %>
          <h2><%= "【 #{@tournament.main_rule} 】" %></h2>
          <b>入れ替え上限<%= @tournament.swap_limit %>匹の中で、上位<%= @tournament.judging_limit %>位の合計値で勝負します！</b>
        <% else %>
        <% end  %>
      </div>

      <% @ranks.each.with_index(1) do |(key,val),i| %>
        <%= link_to  record_tournament_post_path(tournament_id: @tournament, id: key[:post_id]) do %>

          <% if @tournament.main_rule == "合計長さで勝負" %>
            <% rank_element = key[:sum_size] %>
          <% elsif @tournament.main_rule == "デカイもん勝ち" %>
            <% rank_element = key[:max_size] %>
          <% elsif @tournament.main_rule == "とにかく数を釣れ" %>
            <% rank_element = key[:count] %>
          <% else %>
          <% end %>
          <% if i == 1 %>
            <% j = "1" %>
            <div class="rank_item">
              <div class="item_body">
                <%= image_tag "#{key[:max_size_image]}", class: "max_img" %>
                <div class="media_body">
                  <div class="rank_name">
                    <% if 1 == j.to_i %>
                      <i class="fas fa-crown i_gold"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 2 == j.to_i %>
                      <i class="fas fa-crown i_silver"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 3 == j.to_i %>
                      <i class="fas fa-crown i_copper"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 3 < j.to_i && 11 > j.to_i %>
                      <i class="fas fa-medal i_green"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% else %>
                      <i class="fas fa-crown i_none"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% end %>
                  </div>
                  <ul class="media_list">
                    <li>
                      <i class="fas fa-chart-bar"></i>
                      <span>合計サイズ<b class="text_info"><%= "#{key[:sum_size]}cm" %></b></span>
                    </li>
                    <li>
                      <span>最大サイズ<b class="text_info"><%= "#{key[:max_size]}cm" %></b></span>
                    </li>
                    <li>
                      <span>有効釣果数<b class="text_info"><%= "#{key[:count]}匹" %></b></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% before_rank = rank_element %>
          <% elsif rank_element != before_rank %>
            <% j_sum = 1 + j.to_i %>
            <% j.replace "#{j_sum.to_i}" %>
            <div class="rank_item">
              <div class="item_body">
                <%= image_tag "#{key[:max_size_image]}", class: "max_img" %>
                <div class="media_body">
                  <div class="rank_name">
                    <% if 1 == j.to_i %>
                      <i class="fas fa-crown i_gold"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 2 == j.to_i %>
                      <i class="fas fa-crown i_silver"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 3 == j.to_i %>
                      <i class="fas fa-crown i_copper"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 3 < j.to_i && 11 > j.to_i %>
                      <i class="fas fa-medal i_green"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% else %>
                      <i class="fas fa-crown i_none"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% end %>
                  </div>
                  <ul class="media_list">
                    <li>
                      <i class="fas fa-chart-bar"></i>
                      <span>合計サイズ<b class="text_info"><%= "#{key[:sum_size]}cm" %></b></span>
                    </li>
                    <li>
                      <span>最大サイズ<b class="text_info"><%= "#{key[:max_size]}cm" %></b></span>
                    </li>
                    <li>
                      <span>有効釣果数<b class="text_info"><%= "#{key[:count]}匹" %></b></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% before_rank = rank_element %>
          <% else %>
            <div class="rank_item">
              <div class="item_body">
                <%= image_tag "#{key[:max_size_image]}", class: "max_img" %>
                <div class="media_body">
                  <div class="rank_name">
                    <% if 1 == j.to_i %>
                      <i class="fas fa-crown i_gold"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 2 == j.to_i %>
                      <i class="fas fa-crown i_silver"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 3 == j.to_i %>
                      <i class="fas fa-crown i_copper"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% elsif 3 < j.to_i && 11 > j.to_i %>
                      <i class="fas fa-medal i_green"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% else %>
                      <i class="fas fa-crown i_none"></i> <%= "#{j.to_i}位　" %><%= image_tag "#{key[:image]}", class: "user_img" %><%= key[:nickname] %>
                    <% end %>
                  </div>
                  <ul class="media_list">
                    <li>
                      <i class="fas fa-chart-bar"></i>
                      <span>合計サイズ<b class="text_info"><%= "#{key[:sum_size]}cm" %></b></span>
                    </li>
                    <li>
                      <span>最大サイズ<b class="text_info"><%= "#{key[:max_size]}cm" %></b></span>
                    </li>
                    <li>
                      <span>有効釣果数<b class="text_info"><%= "#{key[:count]}匹" %></b></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% before_rank = rank_element %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>