<p>ランキング</p>
<% before_rank = 0 %>
<% j = "1" %>

<% @ranks.each.with_index(1) do |(key,val),i| %>
  <%= link_to  record_tournament_post_path(tournament_id: @tournament, id: key[:post_id]) do %>

    <% if @tournament.main_rule == "合計長さで勝負" %>
      <% rank_element = key[:sum_size] %>
    <% elsif @tournament.main_rule == "デカイもん勝ち" %>
      <% rank_element = key[:max_size] %>
    <% elsif @tournament.main_rule == "とにかく数を釣れ" %>
      <% rank_element = key[:count] %>
    <% else %>
    <% end %>

    <% if i == 1 %>
      <% j = "1" %>
      <p><%= "第#{j.to_i}位　#{key[:nickname]}" %></p>
      <p><%= "合計サイズ：　#{key[:sum_size]}cm" %></p>
      <p><%= "最大サイズ：　#{key[:max_size]}cm" %></p>
      <p><%= "有効釣果数：　#{key[:count]}匹" %></p>
      <%= image_tag "#{key[:max_size_image]}" %>
      <% before_rank = rank_element %>

    <% elsif rank_element != before_rank %>
      <% j_sum = 1 + j.to_i %>
      <% j.replace "#{j_sum.to_i}" %>

      <p><%= "第#{j.to_i}位　#{key[:nickname]}" %></p>
      <p><%= "合計サイズ：　#{key[:sum_size]}cm" %></p>
      <p><%= "最大サイズ：　#{key[:max_size]}cm" %></p>
      <p><%= "有効釣果数：　#{key[:count]}匹" %></p>
      <%= image_tag "#{key[:max_size_image]}" %>
      <% before_rank = rank_element %>
    <% else %>
      
      <p><%= "第#{j.to_i}位　#{key[:nickname]}" %></p>
      <p><%= "合計サイズ：　#{key[:sum_size]}cm" %></p>
      <p><%= "最大サイズ：　#{key[:max_size]}cm" %></p>
      <p><%= "有効釣果数：　#{key[:count]}匹" %></p>
      <%= image_tag "#{key[:max_size_image]}" %>
      <% before_rank = rank_element %>
    <% end %>

  <% end %>
<% end %>
