<div class="container">
  <section id="post_record">
    <br>
    <div class="card_header">
      <%= link_to user_path(@user.id), class:"header_name" do %>
        <%= image_tag @user.image.to_s %><%= "#{@user.nickname}さんの釣果（#{@posts.count}匹）" %>
      <% end %>
    </div>
    <br>
    <div class="rule_info">
      <table width="100%">
        <tr>
          <th>開催期間</th>
          <td><%= "#{l @tournament.start_time, format: :long} 〜 #{l @tournament.end_time, format: :long}" %></td>
          <th>エリア</th>
          <td><%= @tournament.fishing_ground %></td>
        </tr>
        <tr>
          <th>釣りスタイル</th>
          <td><%= @tournament.fishing_style %></td>
          <th>ターゲット</th>
          <td><%= @tournament.fish_name %></td>
        </tr>
        <tr>
          <th>勝敗</th>
          <td><%= @tournament.main_rule %></td>
          <th>計測方法</th>
          <td><%= "#{@tournament.measure_rule}で計測" %></td>
        </tr>
        <tr>
          <th>キーパーサイズ</th>
          <td><%= "#{@tournament.keeper_size}cm以上" %></td>
          <th>釣り方の縛り</th>
          <td><%= @tournament.designation %></td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <th>備考</th>
          <td><%= simple_format(@tournament.comment) %></td>
        </tr>
      </table>
    </div>
    <div class="card_body">
      <% @posts.each do |post| %>
        <%= link_to  tournament_post_path(tournament_id: @tournament, id: post) do %>
          <div class="item_body">
            <%= image_tag "#{post.fish_image.url}", class: "fish_img" %>
            <div class="media_body">
              
              <ul class="media_list">
                <li>
                  <%= post.fish_name %>
                </li>
                <li>
                  <i class="far fa-calendar-alt i_gray"></i> <%= "#{l post.datetime, format: :short}" %>
                </li>
                <li>
                  サイズ <%= "#{post.catch_size}cm" %>
                </li>
              </ul>
            </div>
          </div>
          

        <% end %>
      <% end %>
    </div>
  </section>
</div>