<div class="container">
  <section id="post_record">
    <br>
    <div class="card_header">
      <%= link_to user_path(@user.id), class:"header_name" do %>
        <%= image_tag @user.image.to_s %><%= "#{@user.nickname}さんの釣果（#{@posts.count}匹）" %>
      <% end %>
    </div>
    <br>
    <div class="rule_info">
      <h4>大会情報</h4>
      <div class="time">
        <h4><i class="far fa-calendar-alt i_gray"></i> 開催期間： <%= "#{l @tournament.start_time, format: :long} 〜 #{l @tournament.end_time, format: :long}" %></h4>
      </div>
      <div class = "area">
        <h4><i class="fas i_red fa-map-marker-alt"></i> エリア： <%= @tournament.fishing_ground %></h4> 
      </div>
      <div class = "style">
        <h4><i class="far fa-address-book i_orange"></i> 釣りスタイル： <%= @tournament.fishing_style %></h4> 
      </div>
      <div class="target">
        <h4><i class="fas fa-fish i_blue fa-flip-horizontal"></i> ターゲット：<%= @tournament.fish_name %></h4>
      </div>
      <div class="win_lose">
        <h4><i class="fas fa-crown i_yellow"></i> 勝敗： <%= @tournament.main_rule %></h4>
      </div>
      <div class="measure">
        <h4><i class="fas fa-ruler i_green"></i> 計測方法：<%= "#{@tournament.measure_rule}で計測" %></h4>
      </div>
      <div class="keeper">
        <h4><i class="fab fa-font-awesome-flag i_pink"></i> キーパーサイズ：<%= "#{@tournament.keeper_size}cm以上" %></h4>
      </div>
      <div class="designation">
        <h4><i class="fas fa-lock i_dblue"></i> 釣り方の縛り：<%= @tournament.designation %></h4>
      </div>
      <h4><i class="fas fa-pen"></i> 備考</h4>
      <%= simple_format(@tournament.comment) %>
    </div>

    <div class="card_body">
      <% @posts.each do |post| %>
        <%= link_to  tournament_post_path(tournament_id: @tournament, id: post) do %>
          <div class="item_body">
            <%= image_tag "#{post.fish_image.url}", class: "fish_img" %>
            <div class="media_body">
              
              <ul class="media_list">
                <li>
                  <%= post.fish_name %>
                </li>
                <li>
                  <i class="far fa-calendar-alt i_gray"></i> <%= "#{l post.datetime, format: :short}" %>
                </li>
                <li>
                  サイズ <%= "#{post.catch_size}cm" %>
                </li>
              </ul>
            </div>
          </div>
          

        <% end %>
      <% end %>
    </div>


  </section>
</div>