<div class="container">
  <section id="post_show">
    <div class="header_name">
      <%= "#{@user.nickname}さんの#{l @post.datetime, format: :short}の釣果" %>
    </div>
    <div class="content">
      <div class="post_info">
        <%= image_tag "#{@post.fish_image}", class:"card-img-top" %>
        <div class="btn-bar">
          <div class="impre"><i class="far fa-eye"></i> <%=  "#{@post.impressionist_count}件閲覧" %></div>

          <div class="btn-box">
            <%= render partial: 'nice_ajax', locals: { post: @post } %>
          </div>

          <a href="#comments_area"><i class="far fa-comment-dots"></i> コメントする</a>
        </div>
        <div class="content_block">
          <h3>釣果データ</h3>
          <p><%= "撮影日：#{l @post.datetime, format: :short}" %></p>
          <h3><%= "魚種：#{@post.fish_name}" %></h3>
          <h3><%= "サイズ：#{@post.catch_size}" %></h3> 
          <h3><%= "重量：#{@post.weight}" %></h3>

          <script type="text/javascript">
            function initMap() {
              var latlng ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 11, 
                  center: latlng
              });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              new google.maps.Circle({
                center: latlng,
                fillColor: '#ff0000',
                fillOpacity: 0.3,
                map: map,
                radius: 7000,
                strokeColor: '#ff0000',
                strokeOpacity: 1,
                strokeWeight: 3
              });
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
          </script>
          <style type="text/css">
            #map { height: 400px;
                   width: 100%;}
          </style>
          <div id="map"></div>
          <small class="text-muted f-12">マップの中心は釣果のポイントを示すものではありません。</small>
        </div>
        <div class="content_block">
          <h3>釣れたルアー(仕掛け)</h3>
          <%= @post.lure %>
        </div>
        <div class="content_block">
          <h3>釣れたレンジ</h3>
          <%= @post.range %>
        </div>
        <div class="content_block">
          <h3>タックル</h3>
          <p><%= "釣れたロッド：#{@post.rod}" %></p>
          <p><%= "釣れたリール：#{@post.reel}" %></p>
          <p><%= "釣れたライン：#{@post.line}" %></p>
        </div>
        <div class="content_block">
          <h4>みんなのコメント</h4>
          <div id="comments_area">
            <div class="comment_items">
              <%= render partial: 'comments/index', locals: { comments: @comments, tournament: @tournament } %>
            </div>
          </div>
          <div class="call_attention">丁寧な言葉を心がけましょう。</div>
          <% if user_signed_in? %>
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
          <% end %>
        </div>
      </div>
      <div class="user_info">
        <%= link_to user_path(@user.id), class:"user_name" do %>
          <%= image_tag @user.image.to_s %><%= @user.nickname %>
        <% end %>
        <div>
          <%= simple_format(@user.comment) %>
        </div>
      </div>
    </div>
  </section>
</div>