<h1>投稿詳細</h1>
  <%= @user.nickname %>
  <h3><%= "魚種：#{@post.fish_name}" %></h3> 
  <h3><%= "サイズ：#{@post.catch_size}" %></h3> 
  <h3><%= "重量：#{@post.weight}" %></h3>
  <p><%= "釣れたルアー(仕掛け)：#{@post.lure}" %></p>
  <p><%= "釣れたロッド：#{@post.rod}" %></p>
  <p><%= "釣れたリール：#{@post.reel}" %></p>
  <p><%= "釣れたライン：#{@post.line}" %></p>
  <p><%= "釣れたレンジ：#{@post.range}" %></p>
</div>

<%=  "#{@post.impressionist_count}件の閲覧" %>
