<div class="container">
  <section id="post_show">
    <div class="header_name">
      <%= "#{@user.nickname}さんの#{l @post.datetime, format: :short}の釣果" %>
    </div>
    <div class="content">
      <div class="post_info">
        <%= image_tag "#{@post.fish_image}", class:"card-img-top" %>
        <div class="btn-bar">
          <div class="impre"><i class="far fa-eye"></i> <%=  "#{@post.impressionist_count}件閲覧" %></div>

          <div class="btn-box">
            <%= render partial: 'nice_ajax', locals: { post: @post } %>
          </div>

          <a href="#comments_area"><i class="far fa-comment-dots"></i> コメントする</a>
        </div>
        <div class="content_block">
          <h3>釣果データ</h3>
          <p><%= "撮影日：#{l @post.datetime, format: :short}" %></p>
          <h3><%= "魚種：#{@post.fish_name}" %></h3>
          <h3><%= "サイズ：#{@post.catch_size}" %></h3> 
          <h3><%= "重量：#{@post.weight}" %></h3>
          <p><%= "住所：#{@post.address}" %></p>

          <script type="text/javascript">
            function initMap() {
          // #latitude,longitudeから位置を特定させる
              var latlng ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 11, 
                  center: latlng
              });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              var contentString = '住所：<%= @post.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              
            //  #Map上に円を表示させる
              new google.maps.Circle({
                center: latlng,       // 円の中心座標
                fillColor: '#ff0000',   // 塗りつぶし色
                fillOpacity: 0.3,       // 塗りつぶし透過度（0: 透明 ⇔ 1:不透明）
                map: map,             // 表示させる地図（google.maps.Map）
                radius: 7000,          // 半径（ｍ）
                strokeColor: '#ff0000', // 外周色
                strokeOpacity: 1,       // 外周透過度（0: 透明 ⇔ 1:不透明）
                strokeWeight: 3         // 外周太さ（ピクセル）
              });
            }
          </script>

          <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
          </script>

          <%# #mapのcss %>
          <style type="text/css">
            #map { height: 400px;
                   width: 100%;}
          </style>

          <%# #mapの表示 %>
          <div id="map"></div>
        </div>

        <div class="content_block">
          <h3>釣れたルアー(仕掛け)</h3>
          <%= @post.lure %>
        </div>
        
        <div class="content_block">
          <h3>釣れたレンジ</h3>
          <%= @post.range %>
        </div>

        <div class="content_block">
          <h3>タックル</h3>
          <p><%= "釣れたロッド：#{@post.rod}" %></p>
          <p><%= "釣れたリール：#{@post.reel}" %></p>
          <p><%= "釣れたライン：#{@post.line}" %></p>
        </div>

        <div class="content_block">
          <h4>みんなのコメント</h4>
          <div id="comments_area">
            <!-- 投稿されたコメントをブログの詳細ページに表示するためのrender -->
            <%= render partial: 'comments/index', locals: { comments: @comments, tournament: @tournament } %>
            <%# <%= render partial: 'comments/index', locals: { comments: @comments } %> %>
          </div>  
          <% if user_signed_in? %>
            <!-- コメント入力フォームを表示するためのrender -->
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
          <% end %>
        </div>
      
      </div>

      <div class="user_info">
        <%= link_to user_path(@user.id), class:"user_name" do %>
          <%= image_tag @user.image.to_s %><%= @user.nickname %>
        <% end %>
        <div>
          <%= simple_format(@user.comment) %>
        </div>
      </div>

    </div>
  </section>
</div>