<!DOCTYPE html>
<html>
  <head>
    <title>FishingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "トップ", root_path %>
      <%= link_to 'トーナメント新規作成', new_tournament_path %>
      <%= link_to "登録アングラー一覧", users_path %>
      <%= link_to "MYページ", my_show_users_path %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <% end %>
    <%= yield %>
  </body>
</html>
